<h2>MAGIC 8 BALL SAYS:</h2>
<h3><%= ball.answers.sample.body  %> </h3>
<div class="result">
<a href="/balls/<%= ball.id %>/result"><img src="/images/8ball_result.png"></a>
</div
<p>ASK ANOTHER QUESTION AND CLICK THE MAGIC 8 BALL!</p>
