<h1>Magic 8 Ball Simulator</h1>
<h2>Edit Ball</h2>
<% if @errors %>
  <span>Something went wrong:</span>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<form action="/balls/<%= @ball.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <fieldset>
    <legend>Edit Ball Form</legend>
    <label for="name">Name:</label>
    <input type="text" name="ball[name]" value="<%= @ball.try(:name) %>">
    <br />
    <input type="submit" value="Edit">
  </fieldset>
</form>

<form action="/balls/<%= @ball.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
