<h1>Magic Ball Simulator</h1>
<h2>Available Magic Balls:</h2>
<ul>
  <% @balls.each do |ball| %>
  <li><a href="balls/<%= ball.id %>"><%= ball.name %></a></li>
  <% end %>
</ul>
<a href="balls/new">Create a new Magic Ball</a>
