<h1>Magic 8 Ball Simulator</h1>
<h2>Sign up</h2>
<p><a href="/balls">Browse available Magic 8 Balls.</a></p>

<form action="/users/new" method="post">
  <fieldset>
    <legend>Sign Up</legend>
    <!-- I like the below #try calls a lot, but didn't you also create an instance var '@errors' in the controller, using the same method call? I'd either use that var explicitly or use the #trys on @user, but not both. -->
    <% @user.try(:errors).try(:full_messages).each do |msg|  %> 
      <p><%= msg %></p>
    <% end %>
    <label for="username">Username:</label>
    <input type="text" name="user[username]" value=<%= @user.try(:username) %>>
    <br />
    <label for="email">Email:</label>
    <input type="email" name="user[email]" value=<%= @user.try(:email) %>>
    <br />
    <label for="password">Password:</label>
    <input type="password" name="user[password]">
    <input type="submit" value="Sign Up">
  </fieldset>
</form>

  <h2>Existing user? <a href="/users/login">Log in here.</a></h2>
