<div class="container">
  <h1>Magic 8 Ball Simulator</h1>
  <h2>Welcome! Please sign up or log in to your account.</h2>
  <p><a href="/balls">Browse available Magic 8 Balls.</a></p>

  <form action="/login" method="post">
    <fieldset>
      <legend>Log In</legend>
      <% if @error %>
        <h3><%= @error %></h3>
      <% end %>
      <label for="username">Username:</label>
      <input type="text" id="username" name="user[username]" value=<%= @user.try(:username) %>>
      <br />
      <label for="email">Email:</label>
      <input type="email" id="email" name="user[email]" value=<%= @user.try(:email) %>>
      <br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="user[password]">
      <input type="submit" value="Log In">
    </fieldset>
  </form>

  <h2>New user? <a id="signup-link" href="/users/new">Sign up here.</a></h2>

</div>