<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Magic 8 Ball Simulator</title>
</head>
<body>
  <header>
  <ul>
    <% if current_user %>
      <li class="pipe-separate left"><a href="users/<%=@user.id%>"><%= @user.username %></a>
      </li>
      <li class="pipe-separate left"><a href = "users/logout">Log Out</a>
      </li>
    <% else %>
      <li class="pipe-separate left"><a href = "users/new">Sign Up</a>
      </li>
      <li class="pipe-separate left"><a href = "users/login">Log In</a>
      </li>
    <% end %>
      <li class="pipe-separate left"><a href="/">Home</a>
      </li>
    </ul>
  </header>
  <%= yield %>
</body>
</html>
